<p> Hi! </p>

<%= erb :'_errors', layout: false, locals: {errors: @errors} %>

<form method="post" action="/login">
  Login:<br><br>

  Username:<br>
  <input type="text" name="username"><br><br>

  Password:<br>
  <input type="password" name="password"><br><br>

  <input type="submit" value="login">
</form>